<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> The Dojo Message Board </h1>
	<form action='/addpost' method='POST'>
		<p>Name</p>
		<input type='text' name='name'>
		<p>Message</p>
		<input style='height: 75px; width: 300px' type="textarea" name="message"><br>
		<input type='submit' value='Post message'>
	</form>
</body>
</html>